/************************* GENERAL *********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* scroll-behavior: smooth; */
}

.limit_width{
    max-width: 1340px;
    margin: auto;
}

/*************** BODY  *************/

body{
    font-family: "Raleway", sans-serif;
    background-color: white;
    /* max-width: 1340px; */
    /* margin: auto; */
}

a,
a:visited{
    text-decoration: none;
    display: inline-block;
    color: black;
}

.rating{
    font-size: 0.7rem;
    color:#0065FC;
    display: flex;
}

.false {
    color: #d9d9d9;
    display: flex;
    font-size: 0.7rem;
}

h2{
    font-size: 1.4rem;
}

/****************** HEADER ***************/

header{
    /* margin: auto;
    max-width: 1340px; */
    min-width: 300px;
    margin-bottom: 20px;
    /* display: grid;
    grid-template-columns: 60% auto auto auto; */
}

header a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* padding: 2.4vw 1.8vw; */
    padding: 40px 0 20px 0;
    font-weight: 500;
    border: 2px solid transparent;
}

.nav2:hover,
.sign_up:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.header_bar{
    display: grid;
    grid-template-columns: 60% auto auto auto;
}

.logo_container{
    display: flex;
    align-items: center;
}

header .sign_up{
    color: #0065FC;
}

header .nav1{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.nav1:hover{
    text-decoration: underline;
    color:black;
    border-top: 2px solid white;
}



/* object-fit: cover; permet de ne pas déformer l'objet en le coupant si nécessaire  */


/*********************************** MAIN **********************************/

main{
    /* max-width: 1340px; */
    min-width: 300px;
    /* margin: auto; */
}

/*************************** SECTION 1 ************************/

/* .section1_container{
    max-width: 1340px;
    margin: auto;
} */

h1{
    font-size: 1.5rem;
    margin: 10px 0;
}

/* .searchbar_container{
    max-width: 1340px;
} */

.searchbar{
    display: flex;
    margin: 15px;
    margin-left: 0;
    min-height: 50px;
}

label{
    min-width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbutton{
    position: relative;
    display: flex;
}

.searchbutton a{
    color: white;
}

.searchbutton1{
    /* font-family: inherit; */
    font-weight: 600;
    font-size: 1.1rem;
    /* font: 600 1.1rem "Raleway"; */
    background: #0065FC;
    border: transparent;
    padding: 10px 15px;
    border-radius: 0 1rem 1rem 0;
    transition: 0.2s;
    /* min-width: 134px; */
    /* min-height: 50px; */
    /* display: block; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbutton2 i{
    width: 50px;
    height: 50px;
    background: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
    /* z-index: -1; */
    position: absolute;
    top: 0;
    left: -12px;
    visibility: hidden;
    /* transform: translateX(-12px); */
}

.searchbutton1:hover,
.searchbutton2 i:hover{
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    cursor: pointer;
}

.searchbutton1:active,
.searchbutton2 i:active{
    transform: scale(0.9);
    color: black;
    background: #d9d9d9;
}

.searchbox{
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    /* font: 800 1rem "Raleway"; */
    background: transparent;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    border-left: transparent;
    border-right: transparent;
    padding-left: 10px;
}

.searchbox::placeholder{
    color: black;
}

.label_icon_location{
    font-size: 1rem;
    /* padding: 10px;
    padding-left: 15px;
    padding-right: 15px; */
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}

.filter_container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    /* max-width: 1340px; */
    margin: 15px 0;
}

.filter_container p{
    font-weight: bold;
}

.filter_container a{
    cursor: initial;
}

.filter_item{
    margin: 10px 0;
    max-width: 300px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 3rem;
    transition: 0.2s;
}

.filter_icon{
    min-width: 50px;
    min-height: 50px;
    background: #DEEBFF;
    border-radius: 3rem;
    z-index: 1;
    transform: translateX(50px);
    cursor: pointer;
}

.filter_icon i{
    color: #0065FC;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_item p{
    border: 2px solid #d9d9d9;
    border-radius: 3rem;
    padding: 14px;
    padding-left: 59px;
    cursor: pointer;
    /* font-weight: bold; */
    /* max-height: 50px;
    min-width: 200px; */
}

.filter_item:hover{
    transform: scale(1.1);
    color: #0065FC;
}

.filter_item:active{
    transform: scale(1);
}

.information{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.icon_container{
    width: 24px;
    height: 24px;
    border-radius: 3rem;
    text-align: center;
    border: 1px solid #d9d9d9;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin: 5px;
}

.icon_container .fas{
    font-size: 0.7rem;
    color: #0065FC;
}

.information p{
    font-size: 1rem;
    margin: 5px;
}

/********************* SECTION 2 & 3 ***********************/

.section_container{
    margin: auto;
    /* max-width: 1380px; */
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: 67% 33%; */
}

/******************************* SECTION 2  **************************/

.section2_container{
    /* width: 375px; */
    /* max-width: 33%; */
    min-width: 375px;
    max-height: 620px;
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    padding: 40px 20px 20px 20px;
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin: 20px 0;
}

.section2_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.section2_title i{
    font-size: 1.3rem;
}

.section2_item{
    background-color: white;
    max-width: 320px;
    min-width: 310px;
    height: 144px;
    border-radius: 1.2rem;
    margin: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.2s;
    /* justify-content: space-between; */
    /* display: grid; */
    /* grid-template-columns: 40% 60%; */
}

.section2_item:hover{
    transform: scale(1.05);
}

.section2_item:active{
    transform: scale(1);
}

.section2_img{
    min-width: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_img img{
    width: 127px;
    height: 134px;
    object-fit: cover;
    /* padding: 5px 5px 3px 5px; */
    border-radius: 1.2rem 0 0 1.2rem;
}

.section2_side{
    max-width: 180px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2_description .title_item{
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
}

.section2_description .price{
    font-size: 0.9rem;
    padding: 0 5px 5px 5px;
    padding-left: 15px;
}

.section2_side .rating{
    padding: 5px;
    padding-left: 15px;
}

/********************** SECTION 3 ***********************/

.section3_container{
    max-width: 880px;
    min-width: 375px;
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    padding: 40px 0 40px 40px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section3_item_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* max-height: 620px; */
}

.section3_item{
    background-color: white;
    width: 246px;
    /* flex-grow: 1; */
    /* min-width: 240px; */
    max-height: 199px;
    border-radius: 1.2rem;
    margin: 20px 30px 30px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000002e;
    /* align-items: center; */
    transition: 0.2s;
}

.section3_item:hover{
    transform: scale(1.05);
}

.section3_item:active{
    transform: scale(1);
}

.section3_img img{
    width: 236px;
    height: 114px;
    object-fit: cover;
    margin: 5px;
    border-radius: 1.2rem 1.2rem 0 0 ;
}

.section3_description .title_item{
    font-weight: bold;
    padding-left: 15px;
}

.section3_description .price{
    font-size: 0.9rem;
    padding: 5px 0 5px 15px;
}

.section3_description .rating{
    padding: 5px 0 10px 15px;
}

.section3_bottom{
    font-weight: bold;
}

/************************ SECTION 4 *******************/

.section4_container{
    /* max-width: 1340px; */
    /* margin: auto; */
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section4_item_container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    align-items: center;
    /* display: grid;
    grid-template-columns: 25% 25% 25% 25%; */
    /* grid-template-rows: 215px 65px 166px; */
}

.section4_duo_column{
    /* width: 645px; */
    min-width: 300px;
    width: 48%;
    max-width: 645px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section4_column_container{
    max-width: 300px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* align-items: center; */
}

.section4_item{
    width: 300px;
    box-shadow: 0 0 16px #0000002e;
    border-radius: 1.2rem;
    transition: 0.2s;
}

.section4_item:hover{
    transform: scale(1.05);
}

.section4_item:active{
    transform: scale(1);
}

.section4_img1 img{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section4_img2 img{
    width: 300px;
    height: 180px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section4_img3 img{
    width: 300px;
    height: 114px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section4_img4 img{
    width: 300px;
    height: 390px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section4_img5 img{
    width: 300px;
    height: 140px;
    object-fit: cover;
    object-position: top;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section4_img6 img{
    width: 300px;
    height: 150px;
    object-fit: cover;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section4_description{
    border-radius: 0 0 1.2rem 1.2rem;
}

.section4_description .title_item{
    font-weight: bold;
    padding: 20px 0 20px 20px;
}

/****************** FOOTER *****************/

footer{
    background: #F2F2F2;
}

.footer_container{
    /* max-width: 1340px; */
    margin: auto;
    margin-top: 50px;
}

.ul_container{
    /* margin-left: 50px; */
    padding-top: 50px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* text-align: center; */
}

.ul_list{
    padding: 0 40px 40px 0;
}

.ul_list a{
    transition: 0.2s;
}

.ul_list a:hover{
    text-decoration: underline;
}

.ul_list a:active{
    transform: scale(0.9);
}

.title_list a{
    font-weight: bold;
    margin: 0 0 15px 0;
    font-size: 18px;
}

.p_list a{
    margin: 0 0 10px 0;
}

/************ RESPONSIVE ****************/

@media screen and (max-width: 1250px){
    .section_container{
        /* flex-wrap: nowrap; */
        position: relative;
        justify-content: space-around;
    }
    .section2_container{
        width: 100%;
        justify-content: space-around;
        flex-direction: row;
        flex-wrap: wrap;
        background: white;
    }
    .section2_title{
        position: absolute;
        top: 30px;
    }
    h2{
        padding-right: 20px;
    }

    .section3_container{
        border-radius: 0;
        max-width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .section3_item_container{
        justify-content: space-around;
    }
    .section3_item{
        margin: 20px;
    }

    .padding_left{
        padding-left: 20px;
    }

    .filter_container{
        padding-left: 20px;
    }

    .logo_container{
        padding-left: 20px;
    }

    .section4_container{
        align-items: center;
    }
    .section4_item_container{
        justify-content: space-around ;
    }
    .section4_duo_column{
        justify-content: space-around;
    }
    .section4_item{
        margin: 20px 0;
    }
}

@media screen and (max-width: 769px){

    /* .padding_left{
        padding-left: 20px;
    } */

    /************* HEADER  **********/
    /* .logo_container{
        padding-left: 20px;
    } */

    .header_bar{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
    .nav1,
    .nav2{
        order: 1;
    }

    header .nav1{
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }
    
    header .nav1:hover{
        color: black;
        border-bottom: 2px solid #d9d9d9;
    }

    header .nav2{
        border-bottom: 2px solid #d9d9d9;
    }

    .nav2:hover{
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }
    
    .sign_up{
        justify-content: flex-end;
        padding-right: 20px;
    }



    .searchbutton1{
        visibility: hidden;
        max-width: 1px;
    }

    .searchbutton2 i{
        visibility: visible;
    }

    .filter_title{
        width: 100%;
        margin-left: 20px;
    }

    .filter_container a{
        transform: translateX(-45px);
    }

    .filter_family{
        /* transform: translateX(-40px); */
        max-width: 90px;
    }

    .information p{
        max-width: 250px;
    }

    /* SECTION 2 */

    .section_container{
        max-width: 100%;
        width: 100%;
        margin: 30px 0;
    }

    .section2_container{
        max-width: 100%;
        width: 100%;
        min-width: 320px;
        margin: 0;
        border-radius: 0;
        padding: 30px 0;
        align-items: center;
        background-color: #F2F2F2;
    }
    /* .section2_container{
        max-width: 33%;
        min-width: 375px;
        max-height: 620px;
        background-color: #F2F2F2;
        border-radius: 1.2rem;
        padding: 20px;
        display: flex;
        flex-direction: column;
        margin: 20px auto;
    } */

    .section2_container a{
        margin: 0;
        max-width: 320px;
    }

    .section2_title h2 {
        padding-right: 40px;
    }

    .section2_title{
        top: 10px;
    }

    .section2_item{
        max-width: 310px;
        min-width: 310px;
        align-items: center;
        /* margin: 20px 30px; */
    }

    /* SECTION 3 */

    .section3_container{
        background: white;
        padding: 40px 0;
        min-width: 300px;
        width: 100%;
        align-items: center;
        max-width: 100%;
    }

    .section3_item_container{
        width: 100%;
    }

    .section3_item{
        width: 310px;
        margin: 20px 0;
    }

    .section3_img img{
        width: 300px;
    }

    /* section4  */

    
    .section4_column_container {
        width: 45%;
    }
    
}