@font-face{
    font-family: "Raleway";
    src: url(../assets/fonts/Raleway-Regular.ttf)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/*************** BODY  *************/

body{
    font-family: "Raleway", sans-serif;
    background-color: white;
    margin-left: 30px;
}

a,
a:visited{
    color: black;
    text-decoration: none;
    display: inline-block;
}

/****************** HEADER ***************/

header{
    display: grid;
    grid-template-columns: 10% 50% 20% 20%;
}

#navigation{
    grid-column-start: 3;
}

#logo img{
    object-fit: cover; /* permet de ne pas déformer l'objet en le coupant si nécessaire */
}

/******************** MAIN ******************/


h1{
    font-size: 1.5rem;
}

/* .first_article{
    position: relative;
} */

#searchbar{
    /* position: absolute; */
    display: flex;
    margin: 15px;
    margin-left: auto;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbutton{
    font: 900 0.9rem "Raleway";
    background-color: #0065FC;
    color: white;
    border: transparent;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

#searchbutton:hover{
    border: 1px solid red;
    color: black;
}

.searchbox{
    font: 900 0.9rem "Raleway";
    background: transparent;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    border-left: transparent;
    border-right: transparent;
    padding: 10px;
}

.label_icon_location{
    font-size: 0.9rem;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/************ RESPONSIVE ****************/

@media screen and (max-width: 650px){
    header {
        display: block;
    }
}
/******************************* EXEMPLE *****************************/
exemple {
    color: blue; /* change la couleur */
    opacity: 0.1; /* change l'opacité. Ici 10% */
    background-color: yellow; /* change la couleur de fond */
    font-family: Arial;/* change la police utilisée */
    text-align: center; /* change l'allignement */
    font-size: 14px; /* change la taille de la police */
    border: 1px solid black; /* ajoute une bordure */
    margin: 5px; /* ajoute une marge autour de l'élément */
    padding: 10px; /* ajoute de l'espace à l'intérieur de l'élément */
    height: 50px; /* hauteur de l'élément */
    width: 50px; /* largeur de l'élément */
}