/************************* GENERAL *********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    /* scroll-behavior: smooth; */
}

/*************** BODY  *************/

body{
    font-family: "Raleway", sans-serif;
    background-color: white;
    /* max-width: 1340px; */
    /* margin: auto; */
}

a,
a:visited{
    color: black;
    text-decoration: none;
    display: inline-block;
}

.rating{
    font-size: 0.7rem;
    color:#0065FC;
    display: flex;
}

.false {
    color: #d9d9d9;
    display: flex;
    font-size: 0.7rem;
}

h2{
    font-size: 1.2rem;
}

/****************** HEADER ***************/

header{
    margin: auto;
    max-width: 1340px;
    margin-bottom: 20px;
    /* display: grid;
    grid-template-columns: 60% auto auto auto; */
}

header a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2.4vw 1.8vw 2.4vw 1.8vw;
    font-weight: 500;
    border: 2px solid transparent;
}

header a:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.header_bar{
    display: grid;
    grid-template-columns: 60% auto auto auto;
}

.logo_container{
    display: flex;
    align-items: center;
}

header .login{
    color: #0065FC;
}

/* object-fit: cover; permet de ne pas déformer l'objet en le coupant si nécessaire  */


/*********************************** MAIN **********************************/



/*************************** SECTION 1 ************************/

.section1_container{
    max-width: 1340px;
    margin: auto;
}

h1{
    font-size: 1.3rem;
    margin: 10px 0;
}

#searchbar{
    display: flex;
    margin: 15px;
    margin-left: 0;
    min-height: 50px;
    max-width: 420px;
}

label{
    min-width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbutton{
    font: 600 1.1rem "Raleway";
    background-color: #0065FC;
    color: white;
    border: transparent;
    padding: 10px;
    border-radius: 0 1rem 1rem 0;
    transition: 0.2s;
    min-width: 134px;
}

#searchbutton:hover{
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    cursor: pointer;
}

#searchbutton:active{
    transform: scale(0.9);
    color: black;
    background: #d9d9d9;
}

.searchbox{
    font: 800 1rem "Raleway";
    background: transparent;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    border-left: transparent;
    border-right: transparent;
    padding: 10px;
}

.label_icon_location{
    font-size: 1rem;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}

.filter_container{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    max-width: 1340px;
    margin: 15px 0;
}

.filter_container p{
    font-weight: bold;
}

.filter_container a{
    cursor: initial;
}

.filter_item{
    margin: 10px 0;
    max-width: 300px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 3rem;
    transition: 0.2s;
}

.filter_icon{
    min-width: 50px;
    min-height: 50px;
    background: #DEEBFF;
    border-radius: 3rem;
    z-index: 1;
    transform: translateX(50px);
    cursor: pointer;
}

.filter_icon i{
    color: #0065FC;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_item p{
    border: 2px solid #d9d9d9;
    border-radius: 3rem;
    padding: 14px;
    padding-left: 59px;
    cursor: pointer;
    /* font-weight: bold; */
    /* max-height: 50px;
    min-width: 200px; */
}

.filter_item:hover{
    transform: scale(1.1);
    color: #0065FC;
}

.filter_item:active{
    transform: scale(1);
}

.information{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.icon_container{
    width: 24px;
    height: 24px;
    border-radius: 3rem;
    text-align: center;
    border: 1px solid #d9d9d9;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    margin: 5px;
}

.icon_container .fas{
    font-size: 0.7rem;
    color: #0065FC;
}

.information p{
    font-size: 1rem;
    margin: 5px;
}

/********************* SECTION 2 & 3 ***********************/

.section_container{
    margin: auto;
    max-width: 1380px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
    /* display: grid;
    grid-template-columns: 67% 33%; */
}

/******************************* SECTION 2  **************************/

.section2_container{
    max-width: 33%;
    min-width: 375px;
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin: 20px auto;
}

.section2_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.section2_title i{
    font-size: 1.3rem;
}

.section2_items{
    background-color: white;
    max-width: 343px;
    min-width: 334px;
    height: 144px;
    border-radius: 1.2rem;
    margin: 20px 0;
    display: flex;
    align-items: center;
    box-shadow: 0 0 16px #0000002e;
    /* justify-content: space-between; */
    /* display: grid; */
    /* grid-template-columns: 40% 60%; */
}

.section2_img{
    min-width: 137px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2_img img{
    width: 127px;
    height: 134px;
    object-fit: cover;
    /* padding: 5px 5px 3px 5px; */
    border-radius: 1.2rem 0 0 1.2rem;
}

.section2_side{
    max-width: 180px;
    min-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2_description .title_item{
    font-weight: bold;
    padding: 5px;
    padding-left: 15px;
}

.section2_description .price{
    font-size: 0.9rem;
    padding: 0 5px 5px 5px;
    padding-left: 15px;
}

.section2_side .rating{
    padding: 5px;
    padding-left: 15px;
}

/********************** SECTION 3 ***********************/

.section3_container{
    max-width: 66%;
    min-width: 375px;
    background-color: #F2F2F2;
    /* border-radius: 20px; */
    border-radius: 1.2rem;
    padding: 40px 0 40px 40px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
}

/* .items_container{
    width: 100%;
} */

.section3_items{
    background-color: white;
    width: 246px;
    /* min-width: 240px; */
    max-height: 199px;
    border-radius: 1.2rem;
    margin: 20px 30px 30px 0;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000002e;
    /* align-items: center; */
}

.section3_img img{
    width: 236px;
    height: 114px;
    object-fit: cover;
    /* padding: 5px 5px 3px 5px; */
    margin: 5px;
    border-radius: 1.2rem 1.2rem 0 0 ;
}

.section3_description .title_item{
    font-weight: bold;
    padding-left: 15px;
}

.section3_description .price{
    font-size: 0.9rem;
    padding: 5px 0 5px 15px;
}

.section3_description .rating{
    padding: 5px 0 10px 15px;
}

.section3_bottom{
    font-weight: bold;
}

/************************ SECTION 4 *******************/

.section4_container{
    max-width: 1340px;
    margin: auto;
}

/****************** FOOTER *****************/

footer{
    /* max-width: 1340px; */
    background: #F2F2F2;
}

#container{
    max-width: 1340px;
    margin: auto;
    /* width: 100%; */
    /* background: #F2F2F2; */
    /* height: 200px; */
    margin-top: 50px;
}

#ul_container{
    margin-left: 50px;
    padding-top: 50px;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* text-align: center; */
}

.ul_list{
    padding: 0 40px 40px 0;
}

.title_list a{
    font-weight: bold;
    margin: 0 0 15px 0;
    font-size: 18px;
}

.p_list a{
    margin: 0 0 10px 0;
}

/************ RESPONSIVE ****************/

@media screen and (max-width: 650px){
    header {
        display: block;
    }
}

@media screen and (max-width: 769px){
    .header_bar{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
    }
    
    .nav{
        order: 1;
    }
    
    .nav:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }
    
    
}






/******************************* EXEMPLE *****************************/
exemple {
    color: blue; /* change la couleur */
    opacity: 0.1; /* change l'opacité. Ici 10% */
    background-color: yellow; /* change la couleur de fond */
    font-family: Arial;/* change la police utilisée */
    text-align: center; /* change l'allignement */
    font-size: 14px; /* change la taille de la police */
    border: 1px solid black; /* ajoute une bordure */
    margin: 5px; /* ajoute une marge autour de l'élément */
    padding: 10px; /* ajoute de l'espace à l'intérieur de l'élément */
    height: 50px; /* hauteur de l'élément */
    width: 50px; /* largeur de l'élément */
}