* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/*************** BODY  *************/

body{
    font-family: "Raleway", sans-serif;
    background-color: white;
    /* max-width: 1340px; */
    /* margin: auto; */
}

a,
a:visited{
    color: black;
    text-decoration: none;
    display: inline-block;
}

/****************** HEADER ***************/

header{
    margin: auto;
    max-width: 1340px;
    display: grid;
    grid-template-columns: 10% 50% 20% 20%;
}

#navigation{
    grid-column-start: 3;
}

#logo svg{
    object-fit: cover; /* permet de ne pas déformer l'objet en le coupant si nécessaire */
}

/******************** MAIN ******************/

.first_article{
    max-width: 1340px;
    margin: auto;
}

h1{
    font-size: 1.5rem;
}

/* .first_article{
    position: relative;
} */

#searchbar{
    /* position: absolute; */
    display: flex;
    margin: 15px;
    margin-left: auto;
}

label{
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbutton{
    font: 900 0.9rem "Raleway";
    background-color: #0065FC;
    color: white;
    border: transparent;
    padding: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.5s;
}

#searchbutton:hover{
    border: 1px solid red;
    color: black;
    font-size: 15px;
}

.searchbox{
    font: 900 0.9rem "Raleway";
    background: transparent;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    border-left: transparent;
    border-right: transparent;
    padding: 10px;
}

.label_icon_location{
    font-size: 0.9rem;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

/****************** FOOTER *****************/

footer{
    /* max-width: 1340px; */
    background: #F2F2F2;
}

#container{
    max-width: 1340px;
    margin: auto;
    /* width: 100%; */
    /* background: #F2F2F2; */
    /* height: 200px; */
    margin-top: 50px;
}

#ul_container{
    /* margin-left: 50px; */
    padding-top: 50px;
    height: 100%;
    width: 70%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* text-align: center; */
}

.ul_list{
    padding: 0 40px 40px 0;
}

.title_list a{
    font-weight: 900;
    margin: 0 0 15px 0;
    font-size: 18px;
}

.p_list a{
    margin: 0 0 10px 0;
}

/****************************** ARTICLE 1 *******************************/

.article1_container{
    margin: auto;
    max-width: 1340px;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 67% 33%; */
}

/******************************* SECTION 1  **************************/

.section1_container{
    max-width: 33%;
    min-width: 375px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    /* margin-left: 20px; */
    margin: 20px;
}

.section1_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
}

.section1_title i{
    font-size: 25px;
}

.section1_items{
    background-color: white;
    max-width: 343px;
    min-width: 334px;
    height: 144px;
    border-radius: 20px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    /* display: grid; */
    /* grid-template-columns: 40% 60%; */
}

.section1_img img{
    width: 127px;
    height: 134px;
    object-fit: cover;
    /* max-width: 100%; */
    /* margin: 5px 5px 3px 5px; */
    padding: 5px 5px 3px 5px;
    border-radius: 20px 0 0 20px;
}

.section1_side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section1_description{
    padding: 5px;
}

.title_item{
    font-weight: bold;
    padding: 5px;
}

.price{
    padding: 5px;
}

.rating{
    padding: 10px;
    color:#0065FC;
    display: flex;
}

.greystar {
    color: #F2F2F2;
}

/********************** SECTION 2 ***********************/

.section2_container{
    max-width: 67%;
    min-width: 375px;
    background-color: #F2F2F2;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    /* margin-right: 20px; */
}

/************ RESPONSIVE ****************/

@media screen and (max-width: 650px){
    header {
        display: block;
    }
}
/******************************* EXEMPLE *****************************/
exemple {
    color: blue; /* change la couleur */
    opacity: 0.1; /* change l'opacité. Ici 10% */
    background-color: yellow; /* change la couleur de fond */
    font-family: Arial;/* change la police utilisée */
    text-align: center; /* change l'allignement */
    font-size: 14px; /* change la taille de la police */
    border: 1px solid black; /* ajoute une bordure */
    margin: 5px; /* ajoute une marge autour de l'élément */
    padding: 10px; /* ajoute de l'espace à l'intérieur de l'élément */
    height: 50px; /* hauteur de l'élément */
    width: 50px; /* largeur de l'élément */
}