/************************* GENERAL *********************/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    scroll-behavior: smooth;
}

.limit_width{
    max-width: 1380px;
    margin: auto;
}

.margin{
    margin: 0 20px;
}

.padding_left{
    padding-left: 20px;
}

/*************** BODY  *************/

body{
    font-family: "Raleway", sans-serif;
    background-color: white;
}

a,
a:visited{
    text-decoration: none;
    display: inline-block;
    color: black;
}

.rating{
    font-size: 0.7rem;
    color:#0065FC;
    display: flex;
}

.false {
    color: #d9d9d9;
    display: flex;
    font-size: 0.7rem;
}

h2{
    font-size: 1.4rem;
    white-space: nowrap;
}

/****************** HEADER ***************/

header{
    min-width: 300px;
    margin-bottom: 20px;
}

header a{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0 20px 0;
    font-weight: 500;
    border: 2px solid transparent;
}

.nav2:hover,
.sign_up:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.header_bar{
    display: grid;
    grid-template-columns: 60% auto auto auto;
}

.logo_container{
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.filter_title{
    padding-left: 20px;
}

header .sign_up{
    color: #0065FC;
}

header .nav1{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.nav1:hover{
    text-decoration: underline;
    color:black;
    border-top: 2px solid white;
}

/*********************************** MAIN **********************************/

/*************************** SECTION 1 ************************/

h1{
    font-size: 1.6rem;
    margin: 30px 0 10px;
}

.searchbar{
    display: flex;
    margin: 15px;
    margin-left: 0;
    min-height: 50px;
}

label{
    min-width: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbutton{
    position: relative;
    display: flex;
}

.searchbutton a{
    color: white;
}

.searchbutton1{
    font-weight: 600;
    font-size: 1.1rem;
    background: #0065FC;
    border: transparent;
    padding: 10px 15px;
    border-radius: 0 1rem 1rem 0;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchbutton2 i{
    min-width: 50px;
    min-height: 50px;
    background: #0065FC;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    color: white;
    position: absolute;
    top: 0;
    left: -12px;
    visibility: hidden;
}

.searchbutton1:hover,
.searchbutton2 i:hover{
    border: 1px solid #d9d9d9;
    color: #d9d9d9;
    cursor: pointer;
}

.searchbutton1:active,
.searchbutton2 i:active{
    transform: scale(0.9);
    color: black;
    background: #d9d9d9;
}

.searchbox{
    font-family: inherit;
    font-weight: 700;
    font-size: 1rem;
    background: transparent;
    border-top: 1px solid #DEEBFF;
    border-bottom: 1px solid #DEEBFF;
    border-left: transparent;
    border-right: transparent;
    padding-left: 10px;
}

.searchbox::placeholder{
    color: black;
    opacity: 1;
}

.label_icon_location{
    background-color: #F2F2F2;
    border-radius: 1rem 0 0 1rem;
}

.filter_container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px 0;
}

.filter_container p{
    font-weight: bold;
}

.filter_container a{
    cursor: initial;
}

.filter_item{
    margin: 10px 0;
    max-width: 300px;
    max-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid transparent;
    border-radius: 3rem;
    transition: 0.2s;
}

.filter_icon{
    min-width: 50px;
    min-height: 51px;
    background: #DEEBFF;
    border-radius: 3rem;
    z-index: 1;
    transform: translateX(50px);
    cursor: pointer;
}

.filter_icon i{
    color: #0065FC;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter_item p{
    border: 2px solid #d9d9d9;
    border-radius: 3rem;
    padding: 14px;
    padding-left: 55px;
    cursor: pointer;
}

.filter_item:hover{
    transform: scale(1.1);
    color: #0065FC;
}

.filter_item:active{
    transform: scale(1);
}

.information{
    display: flex;
    align-items: center;
}

.icon_container{
    min-width: 24px;
    min-height: 24px;
    border-radius: 3rem;
    text-align: center;
    border: 1px solid #d9d9d9;
    text-align: center;
    margin: 5px;
}

.icon_container .fas{
    font-size: 0.7rem;
    color: #0065FC;
}

.information p{
    font-size: 1rem;
    margin: 5px;
}

/********************* SECTION 2 & 3 ***********************/

.section_container{
    display: grid;
    grid-template-columns: 65% 32%;
    column-gap: 2rem;
    flex: 1;
}

/******************************* SECTION 2  **************************/

.section2_container{
    min-width: 300px;
    max-width: 420px;
    max-height: 620px;
    background: #F2F2F2;
    border-radius: 1.2rem;
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    margin: 20px 0;
    grid-area: 1 / 2 / 2 / 3;
}

.section2_title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2_title i{
    font-size: 1.4rem;
}

.section2_item{
    background-color: white;
    width: 100%;
    max-height: 200px;
    min-height: 144px;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.2s;
    flex: 1;
}

.section2_item:hover{
    transform: scale(1.05);
}

.section2_item:active{
    transform: scale(1);
}

.section2_img{
    width: 100%;
    height: 100%;
    flex: 1;
    overflow: hidden;
}

.section2_img .img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    border-radius: 1.2rem 0 0 1.2rem;
}

.section2_side{
    width: 60%;
    height: 100%;
    padding: 10px 15px 10px 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2_description .title_item{
    font-weight: bold;
    padding: 5px;
    padding-left: 10px;
}

.section2_description .price{
    font-size: 0.9rem;
    padding: 0 5px 5px 5px;
    padding-left: 10px;
}

.section2_side .rating{
    padding: 5px;
    padding-left: 10px;
}

/********************** SECTION 3 ***********************/

.section3_container{
    width: clamp(800px, 100%, 900px);
    background-color: #F2F2F2;
    border-radius: 1.2rem;
    padding: 40px 40px 40px 40px;
    margin: 20px 0;
}

.section3_grid_container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    flex: 1;
    padding: 20px 0;
}

.section3_item{
    background-color: white;
    min-width: 200px;
    max-width: 300px;
    flex: 1;
    min-height: 150px;
    max-height: 199px;
    border-radius: 1.2rem;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 16px #0000002e;
    transition: 0.2s;
}

.section3_item:hover{
    transform: scale(1.05);
}

.section3_item:active{
    transform: scale(1);
}

.section3_img{
    flex: 1;
    overflow: hidden;
}

.section3_img .img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 5px;
    border-radius: 1.2rem 1.2rem 0 0;
}

.section3_description .title_item{
    font-weight: bold;
    padding-left: 15px;
}

.section3_description .price{
    font-size: 0.9rem;
    padding: 5px 0 5px 15px;
}

.section3_description .rating{
    padding: 5px 0 10px 15px;
}

.section3_bottom{
    font-weight: bold;
}

/************************ SECTION 4 *******************/

.section4_container h2{
    margin: 20px 0;
}

.section4_container a{
    transition: 0.2s;
}

.section4_container a:hover{
    transform: scale(1.05);
}

.section4_container a:active{
    transform: scale(1);
}

.section4_grid_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 14rem 2rem 2rem 2rem 14rem;
    column-gap: 2rem;
}

.section4_item1{
    grid-area: 1 / 1 / 7 / 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.section4_item2{
    grid-area: 1 / 2 / 5 / 3;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.section4_item3{
    grid-area: 6 / 2 / 7 / 3;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.section4_item4{
    grid-area: 1 / 3 / 7 / 4;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.section4_item4 .section4_title_item{
    white-space: nowrap;
}

.section4_item5{
    grid-area: 1 / 4 / 3 / 5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.section4_item6{
    grid-area: 4 / 4 / 7 / 5;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px #0000002e;
    border-radius: 1rem;
    overflow: hidden;
}

.section4_img{
    position: relative;
    flex: 1;
    overflow: hidden;
}

.section4_img .img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.section4_title_item{
    margin: 1.2rem 1.5rem;
    font-size: 1.1rem;
    font-weight: bold;
}

/****************** FOOTER *****************/

footer{
    background: #F2F2F2;
}

.footer_container{
    margin: auto;
    margin-top: 50px;
}

.ul_container{
    padding-top: 50px;
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.ul_list{
    padding: 0 40px 40px 0;
}

.ul_list a{
    transition: 0.2s;
}

.ul_list a:hover{
    text-decoration: underline;
}

.ul_list a:active{
    transform: scale(0.9);
}

.title_list a{
    font-weight: bold;
    margin: 0 0 15px 0;
    font-size: 18px;
}

.p_list a{
    margin: 0 0 10px 0;
}

/******************************** RESPONSIVE *********************************/

@media screen and (max-width: 1250px){

    /********* Section 2 & 3 *******/

    .section_container{
        grid-template-columns: 100%;
        column-gap: 0;
        grid-area: auto;
        margin: 0;
    }

    /*********** SECTION 2 *******/

    .section2_container{
        width: 100%;
        max-width: 100%;
        max-height: 100%;
        grid-area: auto;
        background: white;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .section2_item{
        width: 32%;
        max-height: 400px;
        flex-direction: column;
    }

    .section2_img{        
        height: 70%;        
    }
    
    .section2_img .img{        
        border-radius: 1.2rem 1.2rem 0 0;
    }
    
    .section2_side{
        width: 100%;
        height: 30%;
    }
        
    

    /********** SECTION 3 **********/

    .section3_container{
        grid-area: auto;
        border-radius: 0;
        width: 100%;
        min-width: 100%;
        align-items: center;
    }

    .section3_container h2{
        display: flex;
        justify-content: center;
    }

    .section3_item{        
        max-width: 100%;        
    }

    .section3_grid_container{
        padding: 20px 0;
    }

    /************ SECTION 4 ********/

    .section4_container h2{
        display: flex;
        justify-content: center;
    }

    .section4_grid_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 25rem);
        row-gap: 2rem;
    }

    .section4_grid_container >*{
        grid-area: auto;
    }
}

@media screen and (max-width: 1007px){
    .filter_title{
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    /*********** Header  ************/
    .logo_container{
        padding: 0;
    }

    /******** section1  **********/
    .section1_title{
        padding: 0;
    }
    .searchbar_container{
        padding: 0;
    }
    .filter_title{
        padding: 0;
    }
    .information{
        padding: 0;
    }

    /********* section2  ************/
    .section2_container{
        background: #F2F2F2;
        flex-direction: column;
        border-radius: 0;        
        padding: 20px;        
    }
    .section2_item{
        width: 100%;
        max-height: 200px;
        flex-direction: row;
    }

    .section2_img{
        height: 100%;
    }
    
    .section2_img .img{
        width: 100%;
        height: 100%;
        border-radius: 1.2rem 0 0 1.2rem;
    }
    
    .section2_side{
        width: 60%;

        height: 100%;
    }

    /************ section3  *************/

    .section3_container{
        padding: 40px 20px;
        background: white;
    }

    .section3_grid_container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 769px){

    /************* HEADER  **********/
    .logo_container{
        padding-left: 20px;
    }

    .header_bar{
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        margin: 0;
    }
    
    .nav1,
    .nav2{
        order: 1;
    }

    header .nav1{
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }
    
    header .nav1:hover{
        color: black;
        border-bottom: 2px solid #d9d9d9;
    }

    header .nav2{
        border-bottom: 2px solid #d9d9d9;
    }

    .nav2:hover{
        border-top: 2px solid white;
        border-bottom: 2px solid #0065FC;
    }
    
    .sign_up{
        justify-content: flex-end;
        padding-right: 20px;
    }

    /************* SECTION 1 ***************/

    .section1_container{
        margin: 0;
    }

    .section1_title{
        padding-left: 20px;
    }
    .searchbar_container{
        padding-left: 20px;
    }    
    .searchbutton1{
        visibility: hidden;
        max-width: 1px;
    }
    
    .searchbutton2 i{
        visibility: visible;
    }
    
    .filter_title{
        padding-left: 20px;
    }
    .information{
        padding-left: 15px;
    }
    
    /************** SECTION 3 ***************/

    .section3_container{
        padding: 40px 0;
        min-width: 300px;
        width: 100%;
        align-items: center;
        max-width: 100%;
        padding: 0 20px;
    }

    /**************** SECTION 4  ************/

    .section4_grid_container{
        grid-template-columns: auto;
        grid-template-rows: repeat(6, 15rem);
        row-gap: 2rem;
    }

    .section4_item5 .img{
        object-position: top;
    }
}

@media screen and (max-width: 500px){

    /*********** section1  *************/

    .filter_container a{
        transform: translateX(-45px);
    }
    
    .filter_family{
        max-width: 90px;
    }
    .searchbar_container{
        padding: 0;
    }

    .searchbar{
        margin-right: 20px;
        display: flex;
        justify-content: center;
    }    
    .information p{
        min-width: 250px;
    }
    
    /************* section3  **************/

    .section3_container h2{
        justify-content: start;
    }
    .section3_grid_container{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }

    /************** section4  *************/

    .section4_container h2{
        justify-content: start;
    }
}